/* ForgotPassword.css */
.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .forgot-password-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .forgot-password-box h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .forgot-password-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .forgot-password-box button {
    width: 100%;
    padding: 10px;
    background-color:#511aaa;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition:0.3s;
  }
  
  .forgot-password-box button:hover {
    background-color: #371175;
  }
  
  .forgot-password-box p {
    margin-top: 1rem;
  }
  
  .forgot-password-box a {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password-box a:hover {
    text-decoration: underline;
  }
  